* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

body {
  line-height: 1.5;
}

input {
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 1px blue solid;
  background-color: rgb(231, 231, 238);
}
input:focus {
  outline: none;
}

/* password and user name */
#password,
#username {
  margin-top: 15px;

}

nav {
  background-position-x: left;
  background-color: tomato;
  padding: 10px;
margin-top: 10px;
width: fit-content;
border-radius: 20px;
}

iframe{
  margin-top: 20px;
  margin-left: 50px;
  max-width: 50%;
  
}
/* video{
    border-radius: 20px;
    margin: 50px;

  } */
.container .btn-all{
  color: red;
}

table, th, td{
  margin: 10px;
  border: dotted 1px blue;
  border-collapse: collapse;
  text-align: center;
  width: fit-content;
  font-size: large;
  
}
th{
  padding: 5px;
  border-bottom: red solid 1px;
}


